.motivation-item:nth-child(even) {
    background-color: var(--color-dark);
}

.motivation-item:nth-child(even) .motivation-card {
    flex-direction: row-reverse;
}

.motivation-card-body {
    padding-left: 35px;
}

.motivation-card {
    display: flex;
    align-items: center;
    justify-content: start;
    column-gap: clamp(30px, 10.7vw, 206px);
}

.motivatoin-card-title {
    margin-bottom: 14px;
}

.motivation-card-img{
    width: 518px;
    height: 760px;
    margin-block: -60px;
}

.motivation-card-description{
    max-width: 400px;
    margin-bottom: 36px;
}


@media (max-width: 1920px) {
    .motivation-card-img {
        margin-block: -20px;
    }
}

@media (max-width:1024px) {
    .motivation-card-img {
        max-width: 30%;
        height: auto;
    }

    .motivation-card {
        padding-block: 50px;
    }
}

@media (max-width: 767px) {
    .motivation-card,
    .motivation-item:nth-child(even) .motivation-card {
        flex-direction: column-reverse;
        padding-block: 30px;
        row-gap: 40px;
    }

    .motivation-card-img {
        max-width: 60%;
        height: auto;
    }

    .motivation-card-description{
        margin-bottom: 16px;
        text-align: center;
    }
    .motivation-card-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
        padding-left: 0;
    }

}